

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-primary: #191d2b;
    --color-secondary: #27AE60;
    --color-white: #FFFFFF;
    --color-black: #000;
    --color-grey-0: #f8f8f8;
    --color-grey-1: #dbe1e8;
    --color-grey-2: #b2becd;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #2a2e35;
    --color-grey-6: #12181b;
    --br-sm-2: 14px;
    --box-shadow-1: 0 3px 15px rgb(0,0,0, .2);
}

.light-mode{
    --color-primary: #e2e2e2;
    --color-secondary: #ae2727;
    --color-white: #6c7983;
    --color-black: #000;
    --color-grey-0: #f8f8f8;
    --color-grey-1: #6c7983;
    --color-grey-2: #6c7983;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #f8f8f8;
    --color-grey-6: #12181b;
}
body{
    background-color: var(--color-primary);
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: var(--color-white);
    transition: all .4s ease-in-out;
}

a{
    display: inline;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

header{
    height: 100vh;
    color: var(--color-white);
    overflow: visible;
}
section{
    min-height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 3rem 18rem;
}

.section{
    transform: translateY(-100%) scale(0);
    transition: all 0.4s ease-in-out;
    background-color: var(--color-primary);
}

.sec1{
    display: none;
    transform: translateY(0) scale(1);
}
.sec2{
    display: none;
    transform: translateY(0) scale(1);
    padding: 3rem 8rem;
}
.sec3{
    display: none;
    transform: translateY(0) scale(1);
}
.sec4{
    display: none;
    transform: translateY(0) scale(1);
    padding: 3rem 8rem;
}
.sec5{
    display: none;
    transform: translateY(0) scale(1);
    padding: 3rem 8rem;
}
.active{
    display: block;
    animation: scaleAnim 1s ease-in-out;
    @keyframes scaleAnim {
        0%{
            transform: translateY(-100%) scaleY(0);
        }
        100%{
            transform: translateY(0) scaleY(1);
        }
    }
}

.controls{
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    .control{
        padding: 1rem;
        cursor: pointer;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background-color: var(--color-grey-5);
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: var(--box-shadow-1);
        margin: .7rem;
        i{
            font-size: 1.2rem;
            color: var(--color-grey-2);
            pointer-events: none;
        }
    }
    .active-btn{
        background-color: var(--color-secondary) ;
        transition: all .4s ease-in-out;
        i{
            color: var(--color-white) ;
        }
    }
}

.theme-btn{
    top: 5%;
    right: 3%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--color-grey-4);
    cursor: pointer;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, .3);
    transition: all .1s ease-in-out;
    &:active{
        transform: translateY(-3px) ;
    }
    i{
        font-size: 1.4rem;
        color: var(--color-grey-2);
        pointer-events: none;
    }
}

/*header content*/
.header-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
    .left-header{
        display: flex;
        align-items: center;
        position: relative;
        .h-shape{
            transition: all .4 ease-in-out;
            width: 65%;
            height: 100%;
            background-color: var(--color-secondary);
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            clip-path: polygon(26% 0, 100% 75%, 100% 100%, 0 100%, 0 0);
        }
        .image{
            border-radius: var(--br-sm-2);
            height: 96%;
            width: 68%;
            margin-left: 4rem;
            background-color: black;
            transition: inherit;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: inherit;
                filter: grayscale(100%);
                &:hover{
                    filter: grayscale(0);
                }
            }
        }
    }
    .right-header{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-right: 9rem;
        padding-top: 5rem;
        .name{
            font-size: 3rem;
            span{
                color: var(--color-secondary);
            }
        }
        p{
            margin: 1.5rem 0;
            line-height: 2rem;
        }
    }
}

/*About*/
.about-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 3.5rem;
    padding-bottom: 5rem;
    .right-about{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        .about-item{
            border:1px solid var(--color-grey-5);
            border-radius: 5px;
            transition: all .4s ease-in-out;
            box-shadow: 1px 2px 15px rgba(0, 0, 0, .1);
            &:hover{
                cursor: default;
                transform: translateY(-5%);
                border: 1px solid var(--color-secondary);
                box-shadow: 1px 2px 15px rgba(0, 0, 0, .32);
            }
            .abt-text{
                padding: 1.5rem;
                display: flex;
                flex-direction: column;
                .large-txt{
                    font-size: 3rem;
                    font-weight: 500;
                    color: var(--color-secondary);
                }
                .small-txt{
                    padding-left: 3rem;
                    position: relative;
                    text-transform: uppercase;
                    font-size: 1.2rem;
                    color: var(--color-grey-1);
                    letter-spacing: 2px;
                    &::before{
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 15px;
                        width: 2rem;
                        height: 2px;
                        background-color: var(--color-grey-5);
                    }
                }
            }
        }
    }
    .left-about{
        padding-right: 5rem;
        p{
            line-height: 2rem;
            padding: 1rem 0;
            color: var(--color-grey-1);
        }
        h4{
            font-size: 2rem;
            text-transform: uppercase;
        }
    }
}

.about-status{
    padding: 4rem;
    .progress-bars{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        .progress-bar{
            display: flex;
            flex-direction: column;
            .prog-title{
                text-transform: uppercase;
                font-weight: 500;
            }
            .prog-cont{
                display: flex;
                align-items: center;
                .prog-txt{
                    color: var(--color-grey-2);
                }
                .progress{
                    width: 100%;
                    height: .45rem;
                    background-color: var(--color-grey-4);
                    margin-left: 1rem;
                    position: relative;
                    span{
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        background-color: var(--color-secondary);
                        transition: all .4s ease-in-out;
                        //width: 60%;
                    }
                    .html{
                        width: 75%;
                    }
                    .spring-boot{
                        width: 80%;
                    }
                    .java{
                        width: 90%;
                    }
                    .angular{
                        width: 90%;
                    }
                    .vanilla-js{
                        width: 80%;
                    }
                    .web-testing{
                        width: 95%;
                    }
                    .web-development{
                        width: 95%;
                    }
                }
            }
        }
    }
}

/*Timeline*/
.timeline{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    padding-bottom: 3rem;
    .timeline-item{
        position: relative;
        padding-left: 3rem;
        border-left: 1px solid var(--color-grey-5);
        .tl-icon{
            position: absolute;
            left: -27px;
            top: 0;
            background-color: var(--color-secondary);
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .tl-duration{
            padding: .2rem .6rem;
            background-color: var(--color-grey-5);
            border-radius: 15px;
            display: inline-block;
            font-size: .8rem;
            font-weight: 500;
            text-transform: uppercase;
        }
        h5{
            padding: 1rem 0;
            text-transform: uppercase;
            font-size: 1.2rem;
            font-weight: 600;
            span{
                color: var(--color-grey-2);
                font-size: 1.2rem;
                font-weight: 500;
            }
        }
        p{
            color: var(--color-grey-2);
        }
    }
}

/*Portfolio*/
.port-txt{
    padding: 2rem 0;
    text-align: center;
}

.portfolios{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
    .portfolio-item{
        position: relative;
        img{
            width: 100%;
            height: 300px;
            object-fit: cover;
            border-radius: 15px;
        }
        .hover-item{
            width: 100%;
            height: 100%;
            background-color: var(--color-secondary);
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            opacity: 0;
            transform: scale(0);
            transition: all .4s ease-in-out;
            h3{
                font-size: 1.3rem;
                color: var(--color-white);
                margin-bottom: 1.5rem;
            }
            .icons{
                display: flex;
                justify-content: center;
                align-items: center;
                .icon{
                    background-color: var(--color-primary);
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 1rem;
                    cursor: pointer;
                    transition: all .4s ease-in-out;
                    i{
                        font-size: 1.5rem;
                        color: var(--color-white);
                        margin: 0 1rem;
                    }
                    &:hover{
                        background-color: var(--color-white);
                        i{
                            color: var(--color-primary);
                        }
                    }
                }
            }
        }
    }
}

.portfolio-item:hover .hover-item{
    opacity: 1;
    transform: scale(1);
}

/*Blogs*/
.blogs-container{
    .blogs{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
        margin-top: 3rem;
        .blog{
            position: relative;
            background-color: var(--color-grey-5);
            border-radius: 5px;
            box-shadow: 1px 1px 15px rgba(0, 0, 0, .1);
            transition: all .4s ease-in-out;
            img{
                width: 100%;
                height: 300px;
                object-fit: cover;
                border-top-right-radius: 5px;
                border-top-left-radius: 5px;
                filter: grayscale(100%);
                transition: all .4s ease-in-out;
            }
            &:hover{
                box-shadow: 1px 1px 15px rgba(0, 0, 0, .1);
                transition: all .4s ease-in-out;
                transform: translateY(-5px);
                img{
                    filter: grayscale(0);
                    transform: scale(1.1);
                    box-shadow: 1px 4px 15px rgba(0, 0, 0, .8);
                }
            }
            .blog-txt{
                margin-top: -7px;
                padding: 1.1rem;
                border-top: 8px solid var(--color-secondary);
                h4{
                    font-size: 1.5rem;
                    margin-bottom: .5rem;
                    transition: all .4s ease-in-out;
                    cursor: pointer;
                    &:hover{
                        color: var(--color-secondary);
                    }
                    p{
                        color: var(--color-grey-2);
                        line-height: 2rem;
                        padding-bottom: 1rem;
                    }
                }
            }
        }
    
    }
}

/*Contact us*/
.contact-content-cont{
    display: flex;
    padding-top: 3.5rem;
    .left-contact{
        flex: 2;
        h4{
            margin-top: 1rem;
            font-size: 2rem;
            text-transform: uppercase;
        }
        p{
            margin: .3rem 0;
            line-height: 2rem;
        }

        .contact-info{
            .contact-item{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .icon{
                display: grid;
                grid-template-columns: 40px 1fr;
                i{
                    display: flex;
                    align-items: center;
                    font-size: 1.3rem;                   
                }
            }
        }
        .contact-icons{
            .contact-icon{
                display: flex;
                justify-content: flex-start;
                margin: 2rem 0;
                a{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: var(--color-white);
                    background-color: var(--color-grey-5);
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    margin: 0 .4rem;
                    transition: all .4s ease-in-out;
                    &:hover{
                        background-color: var(--color-secondary);
                        i{
                            color: var(--color-primary);
                        }
                    }
                }
            }
        }
    }
    .right-contact{
        flex: 3;
        margin-left: 3rem;
        .input-control{
            margin: 1.5rem 0;
            input, textarea{
                border-radius: 30px;
                font-size: inherit;
                font-family: inherit;
                font-weight: inherit;
                padding: .8rem 1.1rem;
                outline: none;
                border: none;
                background-color: var(--color-grey-5);
                width: 100%;
                color: var(--color-white);
                resize: none;
            }
        }
        .user-info{
            display: flex;
            :last-child{
                margin-left: 1.5rem;
            }
        }
        .submit-btn{
            display: flex;
            justify-content: flex-end;
        }
    }
}


/*Independent components*/
.btn-cont{
    display: flex;
    align-self: flex-start;
}

.main-btn{
    border-radius: 30px;
    color: inherit;
    font-weight: 600;
    position: relative;
    border: 1px solid var(--color-secondary);
    display: flex;
    align-self: flex-start;
    display: flex;
    align-items: center;
    overflow: hidden;
    .btn-text{
        padding: 0 2rem;
    }
    .btn-icon{
        background-color: var(--color-secondary);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: 1rem;
    }
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(100%);
        transition: all .4s ease-in-out;
        z-index: -1;
    }
    &:hover{
        color: var(--color-primary);
        transition: all .4s ease-in-out;
        &::before{
            width: 100%;
            height: 100%;
            border-radius: 30px;
            background-color: var(--color-secondary);
            transform: translateX(0);
            
        }
    }
}

.main-title{
    text-align: center;
    h2{
        position: relative;
        text-transform: uppercase;
        font-size: 4rem;
        font-weight: 700;
        span{
            color: var(--color-secondary);
        }
        .bg-txt{
            position: absolute;
            top: 50%;
            left: 50%;
            color: var(--color-grey-5);
            transition: all .4s ease-in-out;
            z-index: -1;
            transform: translate(-50%, -50%);
            font-weight: 800;
            font-size: 6.3rem;
        }
    }
}

.status-title{
    text-transform: uppercase;
    font-size: 1.4rem;
    text-align: center;
    padding: 3.5rem 0;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 40%;
        height: 1px;
        background-color: var(--color-grey-5);
        transform: translateX(-50%);
        transition: all .4s ease-in-out;
    }
}

@import './media';